matplotlib==3.*
numpy==1.16.*
pandas
python-dateutil==2.8.1    # via matplotlib, pandas
scipy==1.4.1              # via seaborn
seaborn==0.11.1
six==1.15.0               # via cycler, python-dateutil
